<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  
  <div class="container">
	
	<div class="row navbar-link">
		<h3>NewsHunt</h3>
	</div>
	
  	<div class="row">	
		<h5>English</h5>
		<ul>
			<li class="nav-tabs"><a href="TheHindu">TheHindu</a></li>
			<li class="nav-tabs"><a href="IBNLive">IBNLive</a></li>
			<li class="nav-tabs"><a href="DeccanHerald">Deccan Herald</a></li>
		</ul>	

		<h5>Hindi</h5>
		<ul>
			<!--<li class="nav-tabs"><a href="#">Hindustan</a></li>-->
			<li class="nav-tabs"><a href="BBCHindi">BBC Hindi</a></li>
			<li class="nav-tabs"><a href="AajTak">AajTak</a></li>
		</ul>
		
		<h5>Gujarati</h5>
		<ul>
			<li class="nav-tabs"><a href="Sandesh">Sandesh</a></li>
			<li class="nav-tabs"><a href="GujaratSamachar">Gujarat Samachar</a></li>
			<li class="nav-tabs"><a href="DeshGujarat">DeshGujarat</a></li>
		</ul>

	</div>
	
  </div>	
	
  </body>
</html>