<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  
  <div class="container">
	
	<div class="row navbar-link">
		<h3>NewsHunt</h3>
	</div>
	
  	<div class="row">		
		<h5>Gujarati</h5>
		<ul>
			<li class="nav-tabs"><a href="sandesh">Sandesh</a></li>
			<li class="nav-tabs"><a href="gujaratsamachar">Gujarat Samachar</a></li>
			<li class="nav-tabs"><a href="#">DeshGujarat</a></li>
		</ul>
		<h5>Hindi</h5>
		<ul>
			<li class="nav-tabs"><a href="#">Hindustan</a></li>
			<li class="nav-tabs"><a href="#">Dainikbhaskar</a></li>
			<li class="nav-tabs"><a href="#">AajTak</a></li>
		</ul>
		<h5>English</h5>
		<ul>
			<li class="nav-tabs"><a href="#">TheHindu</a></li>
			<li class="nav-tabs"><a href="#">IBNLive</a></li>
			<li class="nav-tabs"><a href="#">Deccan Herald</a></li>
		</ul>
	</div>
	
  </div>	
	
  </body>
</html>